/*charts*/
#my-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/*signin*/

#signin-container {
  border-radius: 5px;
  background-color: rgb(255, 177, 193);
  padding: 60px 50px;
}
/*login*/
#login-msg {
  font-weight: bold;
}

#login-link {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

#login-container {
  border-radius: 5px;
  background-color: rgb(255, 177, 193);
  padding: 60px 40px;
}

/*home*/
.expenses-home-container {
  width: 125px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(255, 177, 193);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin-left: 20px;
}

#cards-home {
  display: flex;
  flex-direction: row;
}

/* Intro page */
@font-face {
  font-family: Rubik;
  src: url(assets\fonts\Modak,Rubik\Rubik\Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: Coiny;
  src: url(assets\fonts\Coiny\Coiny-Regular.ttf);
}

@font-face {
  font-family: DynaPuff;
  src: url(assets\fonts\DynaPuff\static\DynaPuff_SemiCondensed-Bold.ttf);
}

#title-intro {
  font-family: DynaPuff;
  font-size: 80px;
   line-height: 1.1;
  background: radial-gradient(circle, rgba(75, 108, 183, 1) 0%, rgba(24, 40, 72, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#text-intro {
  font-family: Rubik;
  font-size: 20px;
  color: rgba(24, 40, 72, 1);
}

#intro-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;

}

body {
  background: #E3FFE7;
  background: radial-gradient(circle, rgba(227, 255, 231, 1) 0%, rgba(217, 231, 255, 1) 100%);
}

/*navbar*/
#navbar-container{
  background: #E3FFE7;
  background: radial-gradient(circle, rgba(227, 255, 231, 1) 0%, rgba(217, 231, 255, 1) 100%);
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

