#my-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#login-container {
  border-radius: 5px;
  background-color: rgb(255, 177, 193);
  padding: 60px 40px;
}

 #signin-container{
  border-radius: 5px;
  background-color: rgb(255, 177, 193);
  padding: 60px 50px;
}

#login-msg{
  font-weight: bold;
}

#login-link{
font-weight: bold;
color: red;
text-decoration: underline;
}

.expenses-home-container {
  width: 125px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(255, 177, 193);
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin-left: 20px;
}

#cards-home{
  display: flex;
  flex-direction: row;
  }