#my-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#login-container , #signin-container{
  border-radius: 5px;
  background-color: rgb(255, 177, 193);
  padding: 60px 40px;
}